/* Includes body, navigation bar, background image and social media. */


body {
  text-align: center;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}




/* Background Image */

.intro {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}




/* Top Navigation Bar */

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  margin-top: 33px;
  z-index: 2;
}

nav ul li {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  text-decoration: underline;
}





/* Home Text */

header h1 {
  left: 0;
  right: 0;
  position: fixed;
  margin-top: 21px;
  font-family: 'Archivo Narrow:700', sans-serif;
  font-size:28px;
  letter-spacing: 3.5px;
  z-index: 1;
}

.intro-text {
  font-family: 'Reenie Beanie', sans-serif;
  font-size: 28px;
  letter-spacing:0.5px;
  margin-top: 80px;
}




/* Down Arrows */
div.arrow-wrapper {
  padding: 0;
}

.fa-angle-down {
  color: black;
  margin-bottom: 10px;
  position: absolute;
  transform: translate(-50%);
}

.fa-angle-down:hover {
  bottom: -7px;
  transition: 0.3s;
}

.fa-angle-down:not(:hover) {
  bottom: +7px;
  transition: 0.6s;
}




/* Main Page Section Text */

.page {
  margin-top: 0px;
}

.page-title {
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 1.25px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 12px;
}

.page-text {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3px;
  line-height: 22px;
  font-size: 15px;
}

.bold {
  font-weight: bold;
}




/* About */

div #about {
  padding-top: 95px;
  padding-bottom: 35px;
}

.block-container {
  width: 736px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.text-container {
  text-align: left;
  position: relative;
  overflow: hidden;
}

.headshot {
  border-radius: 50%;
  width: 140px;
}

/* Mobile (re-size main page content and add space underneath headshot) */
@media screen and (max-width:799px) {
  .block-container {
    width: 92%;
  }
  .headshot {
    margin-bottom: 20px;
  }
}




/* Projects */
div #projects {
  padding-bottom: 35px;
  padding-top: 80px;
  background-color: #eaeaea;
}

div .projects {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.projects a {
  text-decoration: none;
  color: black;
}

/* Desktop (grid) */
@media screen and (min-width:800px) {
  .projects section {
    width: calc(50% - 20px);
    margin-right: 40px;
  }
  .projects section:nth-of-type(2n) {
    margin-right: 0px;
  }
}

/* Mobile (stacked) */
@media screen and (max-width:799px) {
  .projects section {
    margin: auto;
    width: 450px;
  }
  .projects figure img {
    margin-bottom: 20px;
  }
}

img.pictures:hover {
  opacity: 0.8;
}

figure {
  margin: 0;
}

figcaption {
  margin-bottom: 15px;
  text-align: left;
}

img.pictures {
  border: none;
  max-width: 100%;
  height: auto;
}




/* Popup */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3;
}

.overlay:target {
  visibility: visible;
  opacity: 1.0;
}

.popup {
  margin: auto;
  padding: 20px;
  background: #FFF;
  position: relative;
  margin-top: 100px;
  width: 700px;
  border-radius: 5px;
}

.popup .close {
  position: absolute;
  top: 4px;
  right: 15px;
  transition: all 200ms;
  font-size: 37px;
  text-decoration: none;
  color: black;
}

.popup p {
  text-align: left;
}

.popup .popup-container {
  text-align: center;
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.popup h1 {
  margin-bottom: 33px;
  text-align: center;
  margin-top: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #4f4f4f;
}

.project-hyperlink {
  color: #89aeba;
  text-decoration: none;
  border-bottom: solid 1px #d0e6ed;
}

.popup img {
  width: 100%;
}

.project-hyperlink:hover {
  border-color: #648089;
}

.prev-next {
  text-align: right !important;
}

.prev-next a {
  text-decoration: none;
  color: black;
}

/* Mobile (hide fa arrows and play with popup margins) */
@media screen and (max-width:799px) {
  .popup {
    margin-top: 0px;
    width: 90%;
  }
}




/* Button */

.button-container {
  margin-top: 25px;
  text-align: left;
}

.button {
  text-decoration: none;
  width: 500px;
  background-color: #a1c3ce;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  -webkit-transition: all .3s;
}

.button:hover {
  background: #89aeba;
}




/* Contact */

.contact-link {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  display: block;
  margin-bottom:14px
}

.contact-link:hover {
  text-decoration: underline;
}

.github-link {
  color: #afafaf;
  text-decoration: none;
  font-size: 14px;
}

.github-link:hover {
  color: black;
  -webkit-transition: .4s;
}

.fa {
  color: black;
  margin: 0px 3px;
}

.fa-instagram {
  margin-left: 0px;
}
