/* Page Section Text */
.page {
  margin-top: 0px;
}
.page-header {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 2.5px;
  font-size: 30px
}
.page-title {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0px;
}


/* About */
.page-text {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3px;
  line-height: 22px;
  font-size: 15px;
}
.block-container {
  width: 65%;
  text-align: center;
  position: relative;
  left: 50%;
}
.text-container {
  text-align: left;
  position: relative;
  left: -50%;
  overflow: hidden;
}
.headshot {
  border-radius: 50%;
  width: 140px;
}


/* Projects */
div #projects {
  margin-top: 45px;
  padding-bottom: 10px;
  background-color: #eaeaea;
}
div.projects {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}
a.projects {
  display: inline-block;
  margin-bottom: 40px;
  width: calc(50% - 35px);
  margin-right: 70px;
  text-decoration: none;
  color: black;
}
a.projects:nth-of-type(2n) {
  margin-right: 0px;
}
img.pictures:hover {
  opacity: 0.8;
}
.project-hyperlink {
  color: #81edef;
  text-decoration: none;
}
.project-hyperlink:hover {
  text-decoration: underline;
}
figure {
  margin: 0;
}
figcaption {
  margin-bottom: 15px;
  text-align: left;
}
img.pictures {
  border: none;
  max-width: 100%;
  height: auto;
}


/* Popup
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 250ms;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.overlay:target {
  visibility: visible;
  opacity: 1.0;
}
.popup {
  margin: auto;
  padding: 20px;
  background: #FFF;
  position: relative;
  transition: all 5s ease-in-out;
  margin-top: 100px;
  width: 65%
}
.popup .close {
  position: absolute;
  top: 4px;
  right: 15px;
  transition: all 200ms;
  font-size: 40px;
  text-decoration: none;
  color: #000;
}
.popup .content {
  letter-spacing: 1.3px;
  font-size: 18px;
  text-align: left;
  overflow: auto;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 20px;
  left: -50%;
  position: relative;
}
.popup .content-container {
  text-align: center;
  position: relative;
  width: 98%;
  left: 50%;
}
.popup-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 37px;
  margin-top: 5px;
  color: #3A3B3B;
  margin-bottom: 15px;
}
.popup-pic {
  width: 98%;
}
*/

/* Button
.button-container {
  margin-bottom: 20px;
  margin-top: 35px;
  text-align: left;
}
.button {
  text-decoration: none;
  width: 500px;
  background: white;
  border: 2px solid #81edef;
  color: #81edef;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all .4s;
}
.button:hover {
  background: #81edef;
  color: white;
}
*/

/* Contact */
.contact-link {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  display: block;
  margin-bottom:14px
}
.contact-link:hover {
  text-decoration: underline;
}
.github-link {
  color: #afafaf;
  text-decoration: none;
  font-size: 14px;
}
.github-link:hover {
  color: black;
  -webkit-transition: .4s;
}

.fa-instagram {
  color: black;
  margin: 0px 3px;
  margin-left: 0;
}
.fa-youtube-play {
  color: black;
  margin: 0px 3px;
}
.fa-linkedin {
  color: black;
  margin: 0px 3px;
}
.fa-twitter {
  color: black;
  margin: 0px 3px;
}
